.Alert {
	position: relative;
	background: #ddd;
	border: 1px solid;
	padding: 1em;

}

.Alert--Sucess {
	background: lighten(green, 70%);
}

.Alert__close {
	position: absolute;
	top: 1em;
	right: 1em;
	font-weight: bold;
	cursor: pointer;
}